
  * {
    box-sizing: border-box;
  }
  body{
    margin: 0;
  }

  .nav {
    background-color: #B8F4FC;
    color: black;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem ;
  }
  .login{
    background-color: #D6F1CD;
  }

  .routes{
    background-color: #eab971;
    font-size: larger;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 12rem;
  }

 

  .site-title{
    font-size: 4rem;
  }
  .nav a{
    color: inherit;
  }












@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 